.header {
    background: #000;
    .navbar {
        display: flex;
        justify-content: space-between;
    .nav-link {
        text-decoration: none;
        padding: 2rem;
        display: block;
        color: #fff;
        cursor:pointer;
        }
    .nav-link:hover {
        background: rgba(255,255,255,.06);
    }
    .navbar__logo {
        a {
            color: #fff;
            font-weight: bold;
            font-size: 2rem;
            letter-spacing: 0.5px;
            padding-bottom: 1.7rem;
            padding-top: 1.6rem;
        }
    }
    .navbar__menu {
        //grid-column-end: -1;
        display: flex;
        margin: 0;
        li {
            list-style: none;
            a {
                border-left: 1px solid #fff;
                }
            }
        }
    }
}
header:after {
    content: '';
    display: block;
    background: #fff;
    height: 5px;
    width: 100%;
} 
