.login {
    margin-top: 10rem;
    .login__item {
    display: block;
    max-width: 400px;
    margin: 0 auto 10px;
    padding: 2%;
    background: #fff;
    box-shadow: 0 8px 15px 0 rgba(5,57,106,0.06);
    form {
        display: flex;
        flex-direction: column;
        input {
            margin-bottom: 5px;
        }
    }
}
}