.total {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    background: #fff;
    margin-bottom: 2rem;
    box-shadow: 0 8px 15px 0 rgba(5,57,106,0.06);
    &__container {
        &--item {
            padding: 10px;
            border-bottom: 1px solid #F2F2F2;
        }
        .center {
            text-align: center;
        }
    }
}