// Import all partials
@require './_*.styl'

/* APP */


/* Footer */
footer {
  background: #191324;
  padding: 2%;
  color: #fff;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
